@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS 4200</h1>
    <p class="lead">MIS 4200 is a great class offered by Ohio University to improve ones information sytems skills.</p>
    <p><a href="https://business.ohio.edu/academics/undergrad-majors/management-information-systems/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My Favorite Instagram Account</h2>
        <p>
            This is my favorite dog instagram becasue the dogs are really cute and the owner is really funny.
        </p>
        <p><a class="btn btn-default" href="https://www.instagram.com/max.and.murph/?hl=en">Learn more &raquo;</a></p>
   
</div>
    <div class="row">
        <div class="col-md-4">
            <h2>MVC</h2>
            <div>
                Stuff about MVC goes here
            </div>
            <h3>Links to sample models</h3>
            @Html.ActionLink("Customers", "index", "Customers") <br />
            @Html.ActionLink("Orders", "index", "Orders")<br />
            @Html.ActionLink("Products", "index", "Products")<br />
            @Html.ActionLink("Owner", "index", "Owners")<br />
            @Html.ActionLink("Cars", "index", "Cars") <br />
            @Html.ActionLink("Current Owner", "index", "currentOwners")   

        </div>
