@model IEnumerable<LovgrenMIS4200.DAL.Cars>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.carNickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.license)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.carYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.carMake)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.carModel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.carNickName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.license)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.carYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.carMake)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.carModel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CarsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CarsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CarsID })
        </td>
    </tr>
}

</table>
